.items {
  padding-top: 2em;
  li {
    font-size: 3rem;
    padding-bottom: 5rem;
  }
  li.done {
    color: #95a5a6;
    span {
      text-decoration: line-through;
    }
  }
}


.newtodo {
  padding-bottom: 2em;
  padding-top: 2em;
}
